body {
    margin: 0;
    height: 500vh;
    background-color: none;
}

.prev-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Ensure the button stays on top of other elements */
    font-size: 80px;
    background: none;
    border: none;
    outline: none;
}


.container{
    /* width: 96%; */
    width: 100%;
    /* margin: 2% auto; */
    padding: 0;
    display: flex;
    /* overflow: scroll; */
    /* justify-content: space-between; */
    /* align-items: center; */
    align-items: start;
    position: fixed;
    z-index: 2;
}

.footer{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: none;
    text-align: center;
}

.column {
    position: relative;
    /* float: left; */
    /* box-sizing: border-box; */
    text-align: center;
    /* height: 730px; */
    font-family: 'Source Serif 4', serif;
    background-color:none;
    overflow: auto;
    /* margin:0 4px; */
    vertical-align: top;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6
{
    /* width: 16.666%; */
    flex: 1;
}

.THE{
    font-size: 440%;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.THE-2{
    font-size: 440%;
    line-height: 0;
    padding-top: 150px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}


.UNIVERSE{
    font-size: 180%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em;
}

.WHICH{
    font-size: 220%;
    line-height: 0;
    margin-top: -35px;
    letter-spacing: 0.1em;
}

.OTHERS{
    font-size: 220%;
    line-height: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    letter-spacing: 0.1em;
}

.CALL{
    font-size: 290%;
    line-height: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;
}

.LIBRARY{
    font-size: 190%;
    line-height: 0;
    padding-top: 132px;
    padding-bottom: 200px;
    letter-spacing: 0.1em;
}

.IS{
    font-size: 770%;
    line-height: 0;
    padding-top: 100px;
    letter-spacing: 0.1em;
}

.COMPOSED{
    font-size: 170%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;
}

.OF{
    font-size: 570%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em;
}

.AN{
    font-size: 530%;
    line-height: 0;
    padding-top: 35px;
    padding-bottom: 150px;
    letter-spacing: 0.1em;
}

.AND{
    font-size: 430%;
    line-height: 0;
    padding-top: 150px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.PERHAPS{
    font-size: 200%;
    line-height: 0;
    padding-top: 150px;
    letter-spacing: 0.1em;
}

.INFINITE{
    font-size: 210%;
    line-height: 0;
    padding-top: 250px;
    letter-spacing: 0.1em;
}

.NUMBER{
    font-size: 200%;
    line-height: 0;
    padding-top: 220px;
    letter-spacing: 0.1em;
}

.INDEFINITE{
    font-size: 140%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;
}

.HEXAGONAL{
    font-size: 140%;
    line-height: 0;
    padding-top: 340px;
    letter-spacing: 0.1em;
}

.GALLERIES{
    font-size: 150%;
    line-height: 0;
    padding-top: 220px;
    letter-spacing: 0.1em;
}

.GALLERIES-2{
    font-size: 150%;
    line-height: 0;
    padding-top: 120px;
    letter-spacing: 0.1em;
}

.WITH{
    font-size: 300%;
    line-height: 0;
    padding-top: 210px;
    letter-spacing: 0.1em;
}

.VAST{
    font-size: 320%;
    line-height: 0;
    padding-top: 200px;
    letter-spacing: 0.1em;
}

.AIR{
    font-size: 480%;
    line-height: 0;
    padding-top: 210px;
    letter-spacing: 0.1em;
}

.SHAFTS{
    font-size: 230%;
    line-height: 0;
    padding-top: 200px;
    letter-spacing: 0.1em;
}

.BETWEEN{
    font-size: 160%;
    line-height: 0;
    padding-top: 210px;
    padding-bottom: 70px;
    letter-spacing: 0.1em;
}

.SURROUNDED{
    font-size: 120%;
    line-height: 0;
    padding-top: 220px;
    letter-spacing: 0.1em;
}

.BY{
    font-size: 600%;
    line-height: 0;
    padding-top: 100px;
    padding-bottom: 120px;
    letter-spacing: 0.1em;
}

.VERY{
    font-size: 300%;
    line-height: 0;
    padding-top: 160px;
    padding-bottom: 170px;
    letter-spacing: 0.1em;
}

.LOW{
    font-size: 400%;
    line-height: 0;
    padding-top: 160px;
    letter-spacing: 0.1em;
}

.RAILINGS{
    font-size: 170%;
    line-height: 0;
    padding-top: 170px;
    letter-spacing: 0.1em;
}

.FROM{
    font-size: 310%;
    line-height: 0;
    padding-top: 240px;
    letter-spacing: 0.1em;
}

.ANY{
    font-size: 390%;
    line-height: 0;
    padding-top: 320px;
    letter-spacing: 0.1em;
}

.HEXAGONS{
    font-size: 170%;
    line-height: 0;
    padding-top: 220px;
    letter-spacing: 0.1em;
}

.ONE{
    font-size: 450%;
    line-height: 0;
    padding-top: 210px;
    padding-bottom: 0px;
    letter-spacing: 0.1em;
}

.CAN{
    font-size: 400%;
    line-height: 0;
    padding-top: 280px;
    letter-spacing: 0.1em;
}

.SEE{
    font-size: 400%;
    line-height: 0;
    padding-top: 290px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.INTERMINABLY{
    font-size: 110%;
    line-height: 0;
    padding-top: 250px;
    padding-bottom: 210px;
    letter-spacing: 0.1em;
}

.UPPER{
    font-size: 280%;
    line-height: 0;
    padding-top: 280px;
    padding-bottom: 200px;
    letter-spacing: 0.1em;
}

.AND-2{
    font-size: 430%;
    line-height: 0;
    padding-top: 230px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.LOWER{
    font-size: 230%;
    line-height: 0;
    padding-top: 350px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.FLOORS{
    font-size: 200%;
    line-height: 0;
    padding-top: 250px;
    letter-spacing: 0.1em;
}

.DISTRIBUTION{
    font-size: 120%;
    line-height: 0;
    padding-top: 120px;
    padding-bottom: 70px;
    letter-spacing: 0.1em;
}

.INVARIABLE{
    font-size: 120%;
    line-height: 0;
    padding-top: 300px;
    padding-bottom: 200px;
    letter-spacing: 0.1em;
}

.TWENTY{
    font-size: 190%;
    line-height: 0;
    padding-top: 30px;
    padding-bottom: 430px;
    letter-spacing: 0.1em;
}

.SHELVES{
    font-size: 190%;
    line-height: 0;
    padding-top: 150px;
    letter-spacing: 0.1em;
}

.FIVE{
    font-size: 330%;
    line-height: 0;
    padding-top: 160px;
    letter-spacing: 0.1em;
}

.LONG{
    font-size: 300%;
    line-height: 0;
    padding-top: 210px;
    letter-spacing: 0.1em;
}

.PER{
    font-size: 420%;
    line-height: 0;
    padding-top: 160px;
    letter-spacing: 0.1em;
}

.SIDE{
    font-size: 320%;
    line-height: 0;
    padding-top: 160px;
    letter-spacing: 0.1em;
}

.COVER{
    font-size: 250%;
    line-height: 0;
    padding-top: 500px;
    padding-bottom: 60px;
    letter-spacing: 0.1em;
}

.ALL{
    font-size: 460%;
    line-height: 0;
    padding-top: 250px;
    padding-bottom: 40px;
    letter-spacing: 0.1em;
}

.SIDES{
    font-size: 280%;
    line-height: 0;
    padding-top: 410px;
    padding-bottom: 40px;
    letter-spacing: 0.1em;
}

.EXCEPT{
    font-size: 220%;
    line-height: 0;
    padding-top: 220px;
    padding-bottom: 200px;
    letter-spacing: 0.1em;
}

.TWO{
    font-size: 350%;
    line-height: 0;
    padding-top: 220px;
    padding-bottom: 50px;
    letter-spacing: 0.1em;
}

.THEIR{
    font-size: 300%;
    line-height: 0;
    padding-top: 160px;
    padding-bottom: 150px;
    letter-spacing: 0.1em;
}

.HEIGHT{
    font-size: 220%;
    line-height: 0;
    padding-top: 180px;
    padding-bottom: 50px;
    letter-spacing: 0.1em;
}

.WHICH{
    font-size: 270%;
    line-height: 0;
    padding-top: 100px;
    letter-spacing: 0.1em;
}

.DISTANCE{
    font-size: 180%;
    line-height: 0;
    padding-top: 150px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.FLOOR{
    font-size: 240%;
    line-height: 0;
    padding-top: 400px;
    padding-bottom: 200px;
    letter-spacing: 0.1em;
}

.TO{
    font-size: 600%;
    line-height: 0;
    padding-top: 210px;
    letter-spacing: 0.1em;
}

.CEILING{
    font-size: 200%;
    line-height: 0;
    padding-top: 180px;
    letter-spacing: 0.1em;
}

.SCARCELY{
    font-size: 170%;
    line-height: 0;
    padding-top: 180px;
    letter-spacing: 0.1em;
}

.EXCEEDS{
    font-size: 210%;
    line-height: 0;
    padding-top: 140px;
    padding-bottom: 20px;
    letter-spacing: 0.1em;
}

.THAT{
    font-size: 350%;
    line-height: 0;
    padding-top: 300px;
    padding-bottom: 580px;
    letter-spacing: 0.1em;
}

.A{
    font-size: 800%;
    line-height: 0;
    padding-top: 250px;
    padding-bottom: 170px;
    letter-spacing: 0.1em;
}

.A-2{
    font-size: 800%;
    line-height: 0;
    padding-top: 850px;
    padding-bottom: 200px;
    letter-spacing: 0.1em;
}

.NORMAL{
    font-size: 210%;
    line-height: 0;
    padding-top: 350px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.BOOKCASE{
    font-size: 160%;
    line-height: 0;
    padding-top: 280px;
    letter-spacing: 0.1em;
}

.FREE{
    font-size: 360%;
    line-height: 0;
    padding-top: 0px;
    padding-bottom: 300px;
    letter-spacing: 0.1em;
}

.LEADS{
    font-size: 290%;
    line-height: 0;
    padding-top: 300px;
    letter-spacing: 0.1em;
}

.NARROW{
    font-size: 220%;
    line-height: 0;
    padding-top: 80px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.HALLWAY{
    font-size: 200%;
    line-height: 0;
    padding-top: 0px;
    letter-spacing: 0.1em;
}

.OPENS{
    font-size: 300%;
    line-height: 0;
    padding-top: 120px;
    padding-bottom: 70px;
    letter-spacing: 0.1em;
}

.ONTO{
    font-size: 330%;
    line-height: 0;
    padding-top: 120px;
    letter-spacing: 0.1em;
}

.ANOTHER{
    font-size: 200%;
    line-height: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;
}

.GALLERY{
    font-size: 180%;
    line-height: 0;
    padding-top: 50px;
    letter-spacing: 0.1em;
}

.IDENTICAL{
    font-size: 190%;
    line-height: 0;
    padding-top: 100px;
    letter-spacing: 0.1em;
}

.FIRST{
    font-size: 350%;
    line-height: 0;
    padding-top: 70px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.REST{
    font-size: 380%;
    line-height: 0;
    padding-top: 70px;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

.LEFT{
    font-size: 390%;
    line-height: 0;
    padding-top: 70px;
    padding-bottom: 50px;
    letter-spacing: 0.1em;
}

.RIGHT{
    font-size: 330%;
    line-height: 0;
    padding-top: 70px;
    padding-bottom: 30px;
    letter-spacing: 0.1em;
}

.THERE{
    font-size: 330%;
    line-height: 0;
    padding-top: 10px;
    letter-spacing: 0.1em;
}

.ARE{
    font-size: 480%;
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 120px;
    letter-spacing: 0.1em;
}

.SMALL{
    font-size: 280%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em;
}

.CLOSETS{
    font-size: 220%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em;
}

.IN{
    font-size: 820%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em;
}

.MAY{
    font-size: 450%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em;
}

.SLEEP{
    font-size: 330%;
    line-height: 0;
    padding-top: 120px;
    letter-spacing: 0.1em;
}

.STANDING{
    font-size: 200%;
    line-height: 0;
    padding-top: 10px;
    letter-spacing: 0.1em;
}

.UP{
    font-size: 600%;
    line-height: 0;
    padding-top: 160px;
    letter-spacing: 0.1em;
}

.OTHER{
    font-size: 280%;
    line-height: 0;
    padding-top: 160px;
    letter-spacing: 0.1em;
}

.SATISFY{
    font-size: 250%;
    line-height: 0;
    padding-top: 160px;
    letter-spacing: 0.1em;
}

.ONES{
    font-size: 350%;
    line-height: 0;
    padding-top: 30px;
    letter-spacing: 0.1em;
}

.FECAL{
    font-size: 300%;
    line-height: 0;
    padding-top: 50px;
    letter-spacing: 0.1em;
}

.NECESSITIES{
    font-size: 160%;
    line-height: 0;
    padding-top: 10px;
    letter-spacing: 0.1em;
}

.ALSO{
    font-size: 400%;
    line-height: 0;
    padding-top: 70px;
    letter-spacing: 0.1em;
}

.THROUGH{
    font-size: 200%;
    line-height: 0;
    padding-top: 60px;
    letter-spacing: 0.1em;
}

.PASSES{
    font-size: 300%;
    line-height: 0;
    padding-top: 60px;
    letter-spacing: 0.1em;
}

.SPIRAL{
    font-size: 300%;
    line-height: 0;
    padding-top: 100px;
    letter-spacing: 0.1em;
}

.STAIRWAY{
    font-size: 200%;
    line-height: 0;
    padding-top: 70px;
    letter-spacing: 0.1em;
}

.SINKS{
    font-size: 350%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em;
}

.ABYSMALLY{
    font-size: 170%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em;
}

.SOARS{
    font-size: 310%;
    line-height: 0;
    padding-top: 130px;
    padding-bottom: 40px;
    letter-spacing: 0.1em;
}

.UPWARDS{
    font-size: 220%;
    line-height: 0;
    padding-top: 130px;
    letter-spacing: 0.1em;
}

.REMOTE{
    font-size: 250%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em;
}

.DISTANCES{
    font-size: 180%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em;
}

.MIRROR{
    font-size: 250%;
    line-height: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;
}

.FAITHFULLY{
    font-size: 170%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;
}

.DUPLICATES{
    font-size: 170%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;
}

.APPEARANCES{
    font-size: 140%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.MEN{
    font-size: 440%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.USUALLY{
    font-size: 220%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.INFER{
    font-size: 350%;
    line-height: 0;
    padding-top: 120px;
    letter-spacing: 0.1em; 
}

.THIS{
    font-size: 450%;
    line-height: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;  
}

.NOT{
    font-size: 480%;
    line-height: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;  
}

.IF{
    font-size: 680%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;  
}

.IT{
    font-size: 850%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;  
}

.WERE{
    font-size: 330%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;  
}

.WHY{
    font-size: 430%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em;  
}

.ILLUSORY{
    font-size: 200%;
    line-height: 0;
    padding-top: 100px;
    letter-spacing: 0.1em;  
}

.DUPLICATION{
    font-size: 130%;
    line-height: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;  
}

.I{
    font-size: 1230%;
    line-height: 0;
    padding-top: 100px;
    letter-spacing: 0.1em;  
}

.PREFER{
    font-size: 280%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em;  
}

.DREAM{
    font-size: 280%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.ITS{
    font-size: 580%;
    line-height: 0;
    padding-top: 80px;
    padding-bottom: 40px;
    letter-spacing: 0.1em; 
}

.POLISHED{
    font-size: 200%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.SURFACES{
    font-size: 210%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.REPRESENT{
    font-size: 180%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.PROMISE{
    font-size: 240%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.LIGHT{
    font-size: 310%;
    line-height: 0;
    padding-top: 80px;
    letter-spacing: 0.1em; 
}

.PROVIDED{
    font-size: 210%;
    line-height: 0;
    padding-top: 0px;
    letter-spacing: 0.1em; 
}

.SOME{
    font-size: 370%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}

.SPHERICAL{
    font-size: 180%;
    line-height: 0;
    padding-top: 150px;
    letter-spacing: 0.1em; 
}

.FRUIT{
    font-size: 350%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em; 
}

.BEAR{
    font-size: 380%;
    line-height: 0;
    padding-top: 40px;
    letter-spacing: 0.1em; 
}

.NAME{
    font-size: 350%;
    line-height: 0;
    padding-top: 120px;
    letter-spacing: 0.1em; 
}

.LAMPS{
    font-size: 280%;
    line-height: 0;
    padding-top: 120px;
    letter-spacing: 0.1em; 
}

.TRANSVERSALLY{
    font-size: 120%;
    line-height: 0;
    padding-top: 120px;
    letter-spacing: 0.1em; 
}

.PLACED{
    font-size: 240%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}

.EACH{
    font-size: 370%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}

.HEXAGON{
    font-size: 200%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}

.THEY{
    font-size: 370%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}

.EMIT{
    font-size: 390%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}

.INSUFFICIENT{
    font-size: 140%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}

.INCESSANT{
    font-size: 170%;
    line-height: 0;
    padding-top: 90px;
    letter-spacing: 0.1em; 
}


@media only screen and (min-width: 1500px) {
    .THE {
        font-size: 620%;
    }
    .UNIVERSE{
        font-size: 250%;
    }
    
    .WHICH{
        font-size: 400%;
    }
    
    .OTHERS{
        font-size: 220%;
        line-height: 0;
        padding-top: 35px;
        letter-spacing: 0.1em;
    }
    
    .CALL{
        font-size: 290%;
        line-height: 0;
        padding-top: 25px;
        letter-spacing: 0.1em;
    }
    
    .LIBRARY{
        font-size: 190%;
        line-height: 0;
        padding-top: 132px;
        letter-spacing: 0.1em;
    }
    
    .IS{
        font-size: 770%;
        line-height: 0;
        padding-top: 60px;
        letter-spacing: 0.1em;
    }
    
    .COMPOSED{
        font-size: 170%;
        line-height: 0;
        padding-top: 62px;
        letter-spacing: 0.1em;
    }
    
    .OF{
        font-size: 570%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .AN{
        font-size: 530%;
        line-height: 0;
        padding-top: 45px;
        padding-bottom: 95px;
        letter-spacing: 0.1em;
    }
    
    .AND{
        font-size: 430%;
        line-height: 0;
        padding-top: 90px;
        padding-bottom: 130px;
        letter-spacing: 0.1em;
    }
    
    .PERHAPS{
        font-size: 200%;
        line-height: 0;
        padding-top: 5px;
        letter-spacing: 0.1em;
    }
    
    .INFINITE{
        font-size: 210%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .NUMBER{
        font-size: 200%;
        line-height: 0;
        padding-top: 45px;
        letter-spacing: 0.1em;
    }
    
    .INDEFINITE{
        font-size: 140%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em;
    }
    
    .HEXAGONAL{
        font-size: 140%;
        line-height: 0;
        padding-top: 110px;
        letter-spacing: 0.1em;
    }
    
    .GALLERIES{
        font-size: 150%;
        line-height: 0;
        padding-top: 10px;
        letter-spacing: 0.1em;
    }
    
    .WITH{
        font-size: 300%;
        line-height: 0;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }
    
    .VAST{
        font-size: 320%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .AIR{
        font-size: 480%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;
    }
    
    .SHAFTS{
        font-size: 230%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .BETWEEN{
        font-size: 160%;
        line-height: 0;
        padding-top: 110px;
        letter-spacing: 0.1em;
    }
    
    .SURROUNDED{
        font-size: 120%;
        line-height: 0;
        padding-top: 115px;
        letter-spacing: 0.1em;
    }
    
    .BY{
        font-size: 600%;
        line-height: 0;
        padding-top: 80px;
        padding-bottom: 20px;
        letter-spacing: 0.1em;
    }
    
    .VERY{
        font-size: 300%;
        line-height: 0;
        padding-top: 85px;
        padding-bottom: 95px;
        letter-spacing: 0.1em;
    }
    
    .LOW{
        font-size: 400%;
        line-height: 0;
        padding-top: 115px;
        letter-spacing: 0.1em;
    }
    
    .RAILINGS{
        font-size: 170%;
        line-height: 0;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }
    
    .FROM{
        font-size: 310%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em;
    }
    
    .ANY{
        font-size: 390%;
        line-height: 0;
        padding-top: 180px;
        letter-spacing: 0.1em;
    }
    
    .HEXAGONS{
        font-size: 170%;
        line-height: 0;
        padding-top: 65px;
        letter-spacing: 0.1em;
    }
    
    .ONE{
        font-size: 450%;
        line-height: 0;
        padding-top: 80px;
        padding-bottom: 50px;
        letter-spacing: 0.1em;
    }
    
    .CAN{
        font-size: 400%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;
    }
    
    .SEE{
        font-size: 400%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .INTERMINABLY{
        font-size: 110%;
        line-height: 0;
        padding-top: 70px;
        padding-bottom: 45px;
        letter-spacing: 0.1em;
    }
    
    .UPPER{
        font-size: 280%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em;
    }
    
    .LOWER{
        font-size: 230%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .FLOORS{
        font-size: 200%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .DISTRIBUTION{
        font-size: 120%;
        line-height: 0;
        padding-top: 130px;
        letter-spacing: 0.1em;
    }
    
    .INVARIABLE{
        font-size: 120%;
        line-height: 0;
        padding-top: 130px;
        letter-spacing: 0.1em;
    }
    
    .TWENTY{
        font-size: 190%;
        line-height: 0;
        padding-top: 110px;
        padding-bottom: 85px;
        letter-spacing: 0.1em;
    }
    
    .SHELVES{
        font-size: 190%;
        line-height: 0;
        padding-top: 140px;
        letter-spacing: 0.1em;
    }
    
    .FIVE{
        font-size: 330%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .LONG{
        font-size: 300%;
        line-height: 0;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }
    
    .PER{
        font-size: 420%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .SIDE{
        font-size: 320%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .COVER{
        font-size: 250%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;
    }
    
    .ALL{
        font-size: 460%;
        line-height: 0;
        padding-top: 80px;
        padding-bottom: 40px;
        letter-spacing: 0.1em;
    }
    
    .SIDES{
        font-size: 280%;
        line-height: 0;
        padding-top: 140px;
        letter-spacing: 0.1em;
    }
    
    .EXCEPT{
        font-size: 220%;
        line-height: 0;
        padding-top: 80px;
        padding-bottom: 80px;
        letter-spacing: 0.1em;
    }
    
    .TWO{
        font-size: 350%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .THEIR{
        font-size: 300%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .HEIGHT{
        font-size: 220%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .WHICH{
        font-size: 270%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .DISTANCE{
        font-size: 180%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .FLOOR{
        font-size: 240%;
        line-height: 0;
        padding-top: 180px;
        letter-spacing: 0.1em;
    }
    
    .TO{
        font-size: 600%;
        line-height: 0;
        padding-top: 30px;
        letter-spacing: 0.1em;
    }
    
    .CEILING{
        font-size: 200%;
        line-height: 0;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }
    
    .SCARCELY{
        font-size: 170%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .EXCEEDS{
        font-size: 210%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .THAT{
        font-size: 350%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .A{
        font-size: 800%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .NORMAL{
        font-size: 210%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em;
    }
    
    .BOOKCASE{
        font-size: 160%;
        line-height: 0;
        padding-top: 150px;
        letter-spacing: 0.1em;
    }
    
    .FREE{
        font-size: 360%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .LEADS{
        font-size: 290%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;
    }
    
    .NARROW{
        font-size: 220%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;
    }
    
    .HALLWAY{
        font-size: 200%;
        line-height: 0;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }
    
    .OPENS{
        font-size: 300%;
        line-height: 0;
        padding-top: 120px;
        padding-bottom: 70px;
        letter-spacing: 0.1em;
    }
    
    .ONTO{
        font-size: 330%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em;
    }
    
    .ANOTHER{
        font-size: 200%;
        line-height: 0;
        padding-top: 20px;
        letter-spacing: 0.1em;
    }
    
    .GALLERY{
        font-size: 180%;
        line-height: 0;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }
    
    .IDENTICAL{
        font-size: 190%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .FIRST{
        font-size: 350%;
        line-height: 0;
        padding-top: 70px;
        padding-bottom: 100px;
        letter-spacing: 0.1em;
    }
    
    .REST{
        font-size: 380%;
        line-height: 0;
        padding-top: 70px;
        padding-bottom: 100px;
        letter-spacing: 0.1em;
    }
    
    .LEFT{
        font-size: 390%;
        line-height: 0;
        padding-top: 70px;
        padding-bottom: 50px;
        letter-spacing: 0.1em;
    }
    
    .RIGHT{
        font-size: 330%;
        line-height: 0;
        padding-top: 70px;
        padding-bottom: 30px;
        letter-spacing: 0.1em;
    }
    
    .THERE{
        font-size: 330%;
        line-height: 0;
        padding-top: 10px;
        letter-spacing: 0.1em;
    }
    
    .ARE{
        font-size: 480%;
        line-height: 0;
        padding-top: 10px;
        padding-bottom: 120px;
        letter-spacing: 0.1em;
    }
    
    .SMALL{
        font-size: 280%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em;
    }
    
    .CLOSETS{
        font-size: 220%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em;
    }
    
    .IN{
        font-size: 820%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .MAY{
        font-size: 450%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .SLEEP{
        font-size: 330%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em;
    }
    
    .STANDING{
        font-size: 200%;
        line-height: 0;
        padding-top: 10px;
        letter-spacing: 0.1em;
    }
    
    .UP{
        font-size: 600%;
        line-height: 0;
        padding-top: 160px;
        letter-spacing: 0.1em;
    }
    
    .OTHER{
        font-size: 280%;
        line-height: 0;
        padding-top: 160px;
        letter-spacing: 0.1em;
    }
    
    .SATISFY{
        font-size: 250%;
        line-height: 0;
        padding-top: 160px;
        letter-spacing: 0.1em;
    }
    
    .ONES{
        font-size: 350%;
        line-height: 0;
        padding-top: 30px;
        letter-spacing: 0.1em;
    }
    
    .FECAL{
        font-size: 300%;
        line-height: 0;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }
    
    .NECESSITIES{
        font-size: 160%;
        line-height: 0;
        padding-top: 10px;
        letter-spacing: 0.1em;
    }
    
    .ALSO{
        font-size: 400%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .THROUGH{
        font-size: 200%;
        line-height: 0;
        padding-top: 60px;
        letter-spacing: 0.1em;
    }
    
    .PASSES{
        font-size: 300%;
        line-height: 0;
        padding-top: 60px;
        letter-spacing: 0.1em;
    }
    
    .SPIRAL{
        font-size: 300%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;
    }
    
    .STAIRWAY{
        font-size: 200%;
        line-height: 0;
        padding-top: 70px;
        letter-spacing: 0.1em;
    }
    
    .SINKS{
        font-size: 350%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em;
    }
    
    .ABYSMALLY{
        font-size: 170%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em;
    }
    
    .SOARS{
        font-size: 310%;
        line-height: 0;
        padding-top: 130px;
        padding-bottom: 40px;
        letter-spacing: 0.1em;
    }
    
    .UPWARDS{
        font-size: 220%;
        line-height: 0;
        padding-top: 130px;
        letter-spacing: 0.1em;
    }
    
    .REMOTE{
        font-size: 250%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .DISTANCES{
        font-size: 180%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;
    }
    
    .MIRROR{
        font-size: 250%;
        line-height: 0;
        padding-top: 20px;
        letter-spacing: 0.1em;
    }
    
    .FAITHFULLY{
        font-size: 170%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;
    }
    
    .DUPLICATES{
        font-size: 170%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;
    }
    
    .APPEARANCES{
        font-size: 140%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .MEN{
        font-size: 440%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .USUALLY{
        font-size: 220%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .INFER{
        font-size: 350%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em; 
    }
    
    .THIS{
        font-size: 450%;
        line-height: 0;
        padding-top: 20px;
        letter-spacing: 0.1em;  
    }
    
    .NOT{
        font-size: 480%;
        line-height: 0;
        padding-top: 20px;
        letter-spacing: 0.1em;  
    }
    
    .IF{
        font-size: 680%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;  
    }
    
    .IT{
        font-size: 850%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;  
    }
    
    .WERE{
        font-size: 330%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;  
    }
    
    .WHY{
        font-size: 430%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em;  
    }
    
    .ILLUSORY{
        font-size: 200%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;  
    }
    
    .DUPLICATION{
        font-size: 130%;
        line-height: 0;
        padding-top: 20px;
        letter-spacing: 0.1em;  
    }
    
    .I{
        font-size: 1230%;
        line-height: 0;
        padding-top: 100px;
        letter-spacing: 0.1em;  
    }
    
    .PREFER{
        font-size: 280%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em;  
    }
    
    .DREAM{
        font-size: 280%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .ITS{
        font-size: 580%;
        line-height: 0;
        padding-top: 80px;
        padding-bottom: 40px;
        letter-spacing: 0.1em; 
    }
    
    .POLISHED{
        font-size: 200%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .SURFACES{
        font-size: 210%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .REPRESENT{
        font-size: 180%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .PROMISE{
        font-size: 240%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .LIGHT{
        font-size: 310%;
        line-height: 0;
        padding-top: 80px;
        letter-spacing: 0.1em; 
    }
    
    .PROVIDED{
        font-size: 210%;
        line-height: 0;
        padding-top: 0px;
        letter-spacing: 0.1em; 
    }
    
    .SOME{
        font-size: 370%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    
    .SPHERICAL{
        font-size: 180%;
        line-height: 0;
        padding-top: 150px;
        letter-spacing: 0.1em; 
    }
    
    .FRUIT{
        font-size: 350%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em; 
    }
    
    .BEAR{
        font-size: 380%;
        line-height: 0;
        padding-top: 40px;
        letter-spacing: 0.1em; 
    }
    
    .NAME{
        font-size: 350%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em; 
    }
    
    .LAMPS{
        font-size: 280%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em; 
    }
    
    .TRANSVERSALLY{
        font-size: 120%;
        line-height: 0;
        padding-top: 120px;
        letter-spacing: 0.1em; 
    }
    
    .PLACED{
        font-size: 240%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    
    .EACH{
        font-size: 370%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    
    .HEXAGON{
        font-size: 200%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    
    .THEY{
        font-size: 370%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    
    .EMIT{
        font-size: 390%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    
    .INSUFFICIENT{
        font-size: 140%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    
    .INCESSANT{
        font-size: 170%;
        line-height: 0;
        padding-top: 90px;
        letter-spacing: 0.1em; 
    }
    

}


.container:after{
    content: "";
    display: table;
    clear: both;
}