body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    background-color:rgb(253, 253, 241);
    width: 95vw;
    height: 90vh;
    overflow: hidden;
}

.left-content {
    flex: 1;
    width: 50%;
    background-color: none;
}

.right-content {
    flex: 1;
    transform: scaleX(-1);
    width: 50%;
    background-color: none;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
    width: 100%;
    height: calc(100% / 6);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    font-size: 3rem;
    white-space: nowrap;
    opacity: 1;
}


.marquee-l p {
    display: inline-block;
    animation: marqueeAnimation 240s linear infinite;
}

.marquee-l p span {
    margin-right: 160px;
    margin-left: 100px;
}

.marquee-r p {
    display: inline-block;
    animation: marqueeAnimation 240s linear infinite;
}

.marquee-r p span {
    margin-right: 160px;
    margin-left: 100px;
}

.marquee-l .row-1 p {
    animation-delay: 0s; /* Marquee 1 starts immediately */
}

.marquee-l .row-2 p {
    animation-delay: 50s; /* Marquee 2 starts 50 seconds after Marquee 1 */
}

.marquee-l .row-3 p {
    animation-delay: 90s; /* Marquee 3 starts 40 seconds after Marquee 2 */
}

.marquee-l .row-4 p {
    animation-delay: 150s; /* Marquee 4 starts 60 seconds after Marquee 3 */
}

.marquee-l .row-5 p {
    animation-delay: 210s; /* Marquee 5 starts 60 seconds after Marquee 4 */
}

.marquee-l .row-6 p {
    animation-delay: 330s; /* Marquee 6 starts 120 seconds after Marquee 5 */
}




@keyframes marqueeAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

